<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/table.css}">
    <meta charset="UTF-8">
    <title>Published recipes</title>
</head>
<body>
<header>
    <div class="content">
        <h2 class="logo"><a href="/">RApp</a></h2>
        <nav th:switch="${LoggedInUser}">
            <ul class="navbar" th:case="null">
                <li class="navbutton"><a href="/signup">Sign up</a></li>
                <li class="navbutton"><a href="/login">Log in</a></li>
            </ul>
            <ul class="navbar" th:case="*">
                <li class="navbutton"><a href="/LoggedInUser">My profile</a></li>
                <li class="navbutton"><a href="/following">Following</a></li>
                <li class="navbutton"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="centered" th:switch="${recipes}">
        <h2 th:case="Null">No recipes yet!</h2>
        <div class="tdiv" th:case="*">
            <h2>Published recipes</h2>
            <table>
                <tbody>
                <tr th:each="recipe : ${recipes}">
                    <td th:text="${recipe.title}"></td>
                    <td><a th:href="@{/Recipe/{id}(id=${recipe.id})}">Go to recipe</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>