<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/recipes.css}">
    <meta charset="UTF-8">
    <title>Recipe</title>
</head>
<body>
<header>
    <div class="content">
        <h2 class="logo"><a href="/">RApp</a></h2>
        <nav th:switch="${LoggedInUser}">
            <ul class="navbar" th:case="null">
                <li class="navbutton"><a href="/signup">Sign up</a></li>
                <li class="navbutton"><a href="/login">Log in</a></li>
            </ul>
            <ul class="navbar" th:case="*">
                <li class="navbutton"><a th:href="@{/User/{id}(id=${LoggedInUser.ID})}">My profile</a></li>
                <li class="navbutton"><a href="/following">Following</a></li>
                <li class="navbutton"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="centered">
        <h1>Recipe</h1>
        <div class="info">
            <div class="tdiv">
                <table>
                    <thead>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Ingredients</th>
                    </thead>
                    <tbody>
                    <td th:text="${recipe.title}"></td>
                    <td th:text="${recipe.description}"></td>
                    <td th:text="${recipe.ingredients}"></td>
                    </tbody>
                </table>
            </div>
            <div th:if="${LoggedInUser!=null}">
                <form action="#" th:action="@{/Recipe/{id}/createReview(id = ${recipe.id})}" th:object="${review}"
                      method="post">
                    <textarea class="desc" type="text" name="description" id="description" placeholder="Write a review" th:field="*{description}"/>
                    <br><br>
                    <label for="rating">Rating: </label>
                    <select class="sub" name="rating" id="rating" th:field="*{rating}">
                        <option th:value="0" th:text="0"></option>
                        <option th:value="1" th:text="1"></option>
                        <option th:value="2" th:text="2"></option>
                        <option th:value="3" th:text="3"></option>
                        <option th:value="4" th:text="4"></option>
                        <option th:value="5" th:text="5"></option>
                    </select>
                    <br><br>
                    <input class="sub" type="submit" value="Add Review"/>
                </form>
            </div>
        </div>
    </section>
    <a th:href="@{/User/{id}(id=${owner.ID})}">Go to owner</a>
    <div th:if="${LoggedInUser != null}">
        <div th:if="${LoggedInUser.ID==owner.ID || LoggedInUser.admin == true}">
            <a th:href="@{/deleteRecipe/{id}(id=${recipe.id})}">Delete Recipe</a>
        </div>
    </div>
</main>
</body>
</html>