<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/error.css}">
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<header>
    <div class="content">
        <h2 class="logo"><a href="/">RApp</a></h2>
        <nav th:switch="${LoggedInUser}">
            <ul class="navbar" th:case="null">
                <li class="navbutton"><a href="/signup">Sign up</a></li>
                <li class="navbutton"><a href="/login">Log in</a></li>
            </ul>
            <ul class="navbar" th:case="*">
                <li class="navbutton"><a th:href="@{/User/{id}(id=${LoggedInUser.ID})}">My profile</a></li>
                <li class="navbutton"><a href="/following">Following</a></li>
                <li class="navbutton"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
<div class="message">
    <h1>Oh no! An error has occurred!</h1>
    <p><a href="/">Return to homepage</a></p>
</div>
</main>
</body>
</html>