<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/front.css}">
    <meta charset="UTF-8">
    <title>RApp</title>
</head>
<body>
<header>
    <div class="content">
        <h2 class="logo"><a href="/">RApp</a></h2>
        <nav>
            <ul class="navbar" th:if="${LoggedInUser==null}">
                <li class="navbutton"><a href="/signup">Sign up</a></li>
                <li class="navbutton"><a href="/login">Log in</a></li>
            </ul>
            <ul class="navbar" th:if="${LoggedInUser!=null}">
                <li class="navbutton"><a href="/LoggedInUser">My profile</a></li>
                <li class="navbutton"><a href="/following">Following</a></li>
                <li class="navbutton"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="headline" th:if="${LoggedInUser==null}">
        <h1>Welcome to Rapp!</h1>
    </div>
    <div class="headline" th:if="${LoggedInUser!=null}">
        <h1 th:text="'Welcome ' + ${LoggedInUser.userName} + '!'"></h1>
        <div class="select">
            <h2><a href="/createRecipe">Create Recipe</a></h2>
            <h2><a href="/published">Published recipes</a></h2>
        </div>
    </div>
</header>
<main>
    <div class="centered" th:switch="${recipes}">
        <h2 th:case="Null">No recipes yet!</h2>
        <div th:case="*">
            <h2>Recipes</h2>
            <form action="#" th:action="@{/titleSearch}" method="get">
                <input type="text" name="title" id="title" placeholder="Search for recipe"/>
                <input type="submit" value="Search"/>
            </form>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="recipe : ${recipes}">
                    <td th:text="${recipe.title}"></td>
                    <td>
                        <form action="#" th:action="@{/editRecipe/{id}(id=${recipe.id})}" method="get">
                            <button th:id="'recipe_button' + ${recipe.id}" type="submit">
                                Edit recipe
                            </button>
                        </form>
                    </td>
                    <td><a th:href="@{/Recipe/{id}(id=${recipe.id})}">Go to recipe</a></td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/randomRecipe}">Random</a>
        </div>
    </div>
    </div>
</main>
</body>
</html>