<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/front.css}">
    <meta charset="UTF-8">
    <title>RApp</title>
</head>
<body>
<header>
    <p>RApp</p>
<nav>
    <ul class="navbar" th:if="${LoggedInUser==null}">
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
    </ul>
    <ul class="navbar" th:if="${LoggedInUser!=null}">
        <li><a href="/LoggedInUser">My profile</a></li>
        <li><a href="/createRecipe">Create Recipe</a></li>
        <li><a href="/published">Published recipes</a></li>
        <li><a href="/following">Following</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
</header>
<main>
<div th:switch="${recipes}">
    <h2 th:case="Null">No recipes yet!</h2>
    <div th:case="*">
        <h2>Recipes</h2>
        <form action="#" th:action="@{/titleSearch}" method="get">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title"/>
            <input type="submit" value="Search"/>
        </form>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.title}"></td>
                <td th:text="${recipe.description}"></td>
                <td>
                    <form action="#" th:action="@{/editRecipe/{id}(id=${recipe.id})}" method="get">
                        <button th:id="'recipe_button' + ${recipe.id}" type="submit">
                            Edit recipe
                        </button>
                    </form>
                </td>
                <td><a th:href="@{/Recipe/{id}(id=${recipe.id})}">Go to recipe</a></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/randomRecipe}">Random</a>
    </div>
</div>
</div>
</main>
</body>
</html>