<!DOCTYPE html>
<html html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Frontpage

<div th:switch="${LoggedInUser}">
    <div th:case="Null">
    <p><a href="/createUser">Sign up</a></p>
    <p><a href="/login">Login</a></p>
    </div>
    <div th:case="*">
        <p th:text="'User ' + ${LoggedInUser.userName} + ' is logged in'"/>
        <a href="/LoggedInUser">My profile</a>
    </div>
</div>

<div th:if="${LoggedInUser!=null}">
    <p><a href="/logout">Logout</a></p>

<p><a href="/createRecipe">Create Recipe</a></p>

<div th:switch="${recipes}">
    <h2 th:case="Null">No recipes yet!</h2>
    <div th:case="*">
        <h2>Recipes</h2>
        <form action="#" th:action="@{/titleSearch}" method="get">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title"/>
            <input type="submit" value="Search"/>
        </form>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.title}"></td>
                <td th:text="${recipe.description}"></td>
                <td>
                    <form action="#" th:action="@{/editRecipe/{id}(id=${recipe.id})}" method="get">
                        <button th:id="'recipe_button' + ${recipe.id}" type="submit">
                            Edit recipe
                        </button>
                    </form>
                </td>
                <td><a th:href="@{/Recipe/{id}(id=${recipe.id})}">Go to recipe</a></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/randomRecipe}">Random</a>
    </div>
</div>
</div>
</body>
</html>