<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h2>Signup for an account</h2>
<form action="#" th:action="@{/signup}" th:object="${user}" method="post">
    <label for="userName">Username: </label>
    <input type="text" name="userName" id="userName" th:field="*{userName}"/>
    <br><br>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" th:field="*{email}"/>
    <br><br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" th:value="*{password}"/>
    <br><br>
    <input type="submit" value="Sign up"/>
    <br><br>
</form>

<td><a href="/">Go to frontpage</a></td>
</body>
</html>