<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/forms.css}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header>
    <div class="content">
        <h2 class="logo"><a href="/">RApp</a></h2>
        <nav>
            <ul class="navbar">
                <li class="navbutton"><a href="/signup">Sign up</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="create">
        <h1>Log into your account</h1>
        <form action="#" th:action="@{/login}" th:object="${user}" method="post">
            <input type="text" name="userName" id="userName" placeholder="Username" th:field="*{userName}"/><br>
            <input type="password" name="password" id="password" placeholder="Password" th:value="*{password}"/><br>
            <input class="sub" type="submit" value="Log in"/>
        </form>
    </section>
</main>
</body>
</html>