<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/table.css}">
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<header>
    <div class="content">
        <h2 class="logo"><a href="/">RApp</a></h2>
        <nav th:switch="${LoggedInUser}">
            <ul class="navbar" th:case="null">
                <li class="navbutton"><a href="/signup">Sign up</a></li>
                <li class="navbutton"><a href="/login">Log in</a></li>
            </ul>
            <ul class="navbar" th:case="*">
                <li class="navbutton"><a href="/LoggedInUser">My profile</a></li>
                <li class="navbutton"><a href="/following">Following</a></li>
                <li class="navbutton"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="centered">
        <div class="tdiv">
            <h2>Users</h2>
            <div class="tdiv" th:switch="${LoggedInUser}">
                <table th:case="null">
                    <tbody>
                    <tr th:each="user : ${Users}">
                        <td th:text="${user.userName}"></td>
                        <td><a href="/">Profile</a></td>
                    </tr>
                    </tbody>
                </table>
                <table th:case="*">
                    <div class="tdiv" th:switch="${LoggedInUser.admin}">
                        <tbody th:case="false">
                        <tr th:each="user : ${Users}" th:if="${user.ID!=LoggedInUser.ID}">
                                <td th:text="${user.userName}"></td>
                                <td><a href="/">Profile</a></td>
                                <td>
                                    <form action="#" th:action="@{/follow/{followedId}(followedId=${user.ID})}" method="post">
                                        <input type="submit" value="Follow"/>
                                    </form>
                                </td>
                        </tr>
                        </tbody>
                        <tbody th:case="true">
                        <tr th:each="user : ${Users}" th:if="${user.ID!=LoggedInUser.ID}">
                            <td th:text="${user.userName}"></td>
                            <td><a href="/">Profile</a></td>
                            <td>
                                <form action="#" th:action="@{/follow/{followedId}(followedId=${user.ID})}" method="post">
                                    <input type="submit" value="Follow"/>
                                </form>
                            </td>
                            <td><a href="/">Delete user</a></td>
                        </tr>
                        </tbody>
                    </div>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>